.login__container {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__container .section__login {
  min-width: 15rem;
  max-width: 30rem;
  padding: 1.8rem;
}
.login__container .section__login img {
  justify-content: center;
}

.login__container .section__login .logo {
  width: 8rem;
  height: 8rem;
}
